﻿<div id="tableBlock"></div>
<button id="btnadd" class="btn-success">Add product</button>
<div id="editBlock">
    <p><b>Edit product</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label class="control-label col-md-2">Product name: </label></td><td><input class="col-md-10" type="text" id="editName" /></td></tr>
        <tr><td><label class="control-label col-md-2">Information about product: </label></td><td><input class="col-md-10" type="text" id="editInfoprod" /></td></tr>
        <tr><td><label class="control-label col-md-2">Price: </label></td><td><input class="col-md-10" type="number" id="editPrice" /></td></tr>
        <tr><td><label class="control-label col-md-2">Category: </label></td><td><select class="col-md-10" id="editCategory"></select></td></tr>
    </table>
    <button id="editProduct" class="btn-warning">Save</button>
</div>
<div id="createBlock">
    <p><b>Add product</b></p>
    <table>
        <tr><td><label>Product name: </label></td><td><input type="text" id="addName" /></td></tr>
        <tr><td><label>Information about product: </label></td><td><input type="text" id="addInfoprod" /></td></tr>
        <tr><td><label>Price: </label></td><td><input type="number" id="addPrice" /></td></tr>
        <tr><td><label class="control-label col-md-2">Category: </label></td><td><select class="col-md-10" id="addCategory"></select></td></tr>
    </table>
    <button id="addProduct">Save</button>
</div>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            GetAllProduct();

            $("#editProduct").click(function (event) {
                event.preventDefault();
                EditProduct();
            });

            $("#addProduct").click(function (event) {
                event.preventDefault();
                AddProduct();
            });

            $("#btnadd").click(function () {
                $("#createBlock").slideToggle(1000);

            });

        });
        // Получение всех продуктов по ajax-запросу
        function GetAllProduct() {
            $("#createBlock").css('display', 'none');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/Product',
                type: 'GET',
                dataType: 'json',

                success: function (data) {
                    WriteResponse(data);

                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // Добавление новой книги
        function AddProduct() {
            // получаем значения для добавляемой книги
            var product = {
                NameProd: $('#addName').val(),
                InfoProd: $('#addInfoprod').val(),
                PriceProd: $('#addPrice').val(),
                Category: $('#addCategory').val()

            };

            $.ajax({
                url: '/api/Product',
                type: 'POST',
                data: JSON.stringify(product),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllProduct();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // Удаление книги
        function DeleteProduct(id) {

            $.ajax({
                url: '/api/Product/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    GetAllProduct();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // редактирование книги
        function EditProduct() {
            var id = $('#editId').val()
            // получаем новые значения для редактируемой книги
            var product = {
                ProductId: $('#editId').val(),
                NameProd: $('#editName').val(),
                InfoProd: $('#editInfoprod').val(),
                PriceProd: $('#editPrice').val(),
                Category: $('#editCategory').val()
            };

            $.ajax({
                url: '/api/Product/' + id,
                type: 'PUT',
                data: JSON.stringify(product),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllProduct();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // вывод полученных данных на экран
        function WriteResponse(products) {
            var strResult = "<table class=\"table\"><th>ID</th><th>Product Name</th><th>Info about product</th><th>Price</th>";
            $.each(products, function (index, product) {
                strResult += "<tr><td>" + product.Id + "</td><td> " + product.Name + "</td><td>" +
                    product.InfoProdu + "</td><td>" + product.Price + "</td><td>" + product.Cat + "</td><td>" +
                    "</td><td><a id='editItem' data-item='" + product.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                    "<td><a id='delItem' data-item='" + product.Id + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        // обработчик удаления
        function DeleteItem(el) {
            // получаем id удаляемого объекта
            var id = $(el).attr('data-item');
            DeleteProduct(id);
        }
        // обработчик редактирования
        function EditItem(el) {
            // получаем id редактируемого объекта
            var id = $(el).attr('data-item');
            GetProduct(id);
        }
        // вывод данных редактируемоyh в поля для редактирования
        function ShowProduct(pr) {
            if (pr != null) {
                //очищение списка
                $("#editCategory").empty();
                var product = JSON.parse(pr);
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(product.ProductId);
                $("#editName").val(product.NameProd);
                $("#editInfoprod").val(product.InfoProd);
                $("#editPrice").val(product.PriceProd);

                var select = document.getElementById("editCategory");//создание выпадающего списка
                //сюда передается лист с категориями и заносится в option(это элементы select-а)
                $.each(product.Cat, function (index, category) {
                    var option = document.createElement("option");//создание элементов т.е. option-ов
                    //проверка какая категория в выбрвнном продукте
                    if (product.CategoryId == category.CategoryId) {
                        option.setAttribute("selected", "");
                    }
                    option.innerText = category.NameCategory;//вставляется название категориии
                    option.value = category.CategoryId;//вставляется ID категории
                    select.appendChild(option);//вставка элементов(option) в выпадающий список
                })
                //$("#editCategory").val(product.Cat);
            }
            else {
                alert("Product already yet!!!");
            }
        }
        // запрос продукта на редактирование
        function GetProduct(id) {
            $.ajax({
                url: '/api/Product/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowProduct(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}