﻿@model Nt.Models.CardIndexViewModel

@{
    ViewBag.Title = "Basket";
}

<h1>Total Sum: @Model.Card.ComputeTotalValue()</h1>
<table class="table">
    <tr>
        <th>
            @Html.Label("Quantity")
        </th>
        <th>
            @Html.Label("Item")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Total Sum")
        </th>
    </tr>
    @foreach (var line in Model.Card.Lines)
    {
        <tr>
            <td>@line.Quantity</td>
            <td>@line.Product.Name</td>
            <td>@line.Product.Price</td>
            <td>@((line.Quantity * line.Product.Price))</td>
            <td>
                @Html.ActionLink("RemoveFromCard", "RemoveFromCard", new { ProductId = line.Product.ProductId })
            </td>

        </tr>
    }

</table>

    @Html.ActionLink("Continue shopping", "Index", "UserProducts")
    @Html.ActionLink("Checkout", "Checkout")

