﻿@model Nt.ViewModel.CategoryViewModel

@{
             

                ViewBag.Title = "Product";
}

<h2>Product</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Категория: </label>
        @Html.DropDownList("Id", Model.Category as SelectList,
                                        htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>@Html.Label("Name")</th>
        <th>@Html.Label("Description")</th>
        <th>@Html.Label("Price")</th>
        <th>@Html.Label("CreateDate")</th>

        <th></th>
    </tr>

    @foreach (var item in Model.Product)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>

            <td>

               
                @Html.ActionLink("Details", "Details", new { ProductId = item.ProductId }) |
                @Html.ActionLink("Add Card", "AddToCard",new { ProductId = item.ProductId })
            </td>
        </tr>
    }

</table>
