﻿<ul class="nav navbar-nav navbar-right">
    <li> @Html.ActionLink(User.Identity.Name, "Index", "UserAccount", new { area = "User" }, new { @class = "navbar-brand" })</li>
    <li> @Html.ActionLink("Log out", "Logout", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
</ul>

