﻿@model Nt.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Пользователь</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataRegistration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataRegistration)

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        
    </div>
    <div class="display-label"><h4>Orders</h4></div>

    <div>
        @foreach (var order in Model.Order)
        {
            @:Date: @order.OrderDate <br>
            @:OrderID: @order.OrderID
            <ul>
                @foreach (var prod in order.Products)
                {
                    <li>@prod.Name</li>
                }
            </ul>

        }
    </div>
}