﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>


            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                @Html.ActionLink("Home", "Index", "AdminHome", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Products", "Index", "AdminProducts", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Orders", "Index", "AdminOrders", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("User", "UserShow", "AdminAccount", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Role", "Index", "Roles", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Category", "Index", "Category", new { area = "Admin" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>