﻿
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Main.css"type="text/css">

<header>
    <div>Добро пожаловать</div>
</header>

    <body
    
    <div>Страница администратора c использованием Media-запросов</div>

    </body>
