﻿
@media screen and (max-width:1280px) {
    body {
        color: red;
        
    }
}
@media screen and (max-width:900px) {
    body {
        color: darkgreen;
        
    }
}
@media screen and (max-width:800px) {
    body {
        color: darkmagenta;
        
    }
}
@media screen and (max-width:750px) {
    body {
        color: mediumblue;
        
    }
}